@model DA.Alumno


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Apellidos" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Nombres" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        

        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Dni" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Grado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Grado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Grado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Seccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="Seccion" class="form-control" required />
                    @Html.ValidationMessageFor(model => model.Seccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreApoderado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreApoderado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreApoderado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.DniApoderado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DniApoderado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DniApoderado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CelularApoderado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CelularApoderado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CelularApoderado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.NombrePadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombrePadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombrePadre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.DniPadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DniPadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DniPadre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CelularPadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CelularPadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CelularPadre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreMadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreMadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreMadre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.DniMadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DniMadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DniMadre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CelularMadre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CelularMadre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CelularMadre, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="form-group">
                <button type="submit" href="@Url.Action("Create","Alumno")" class="btn btn-outline-success">Crear Alumno</button>
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Regresar a la Lista de Alumnos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
